@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: #0b090a;
}
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}
.dataInput {
    color: white;
    outline: none;
    border-radius: 5px;
    border: none;
    border: 1px #f5f3f4 solid;
    width: 20em;
    padding: 0.5em 1.5em;
    font-size: 1.5em;
    margin-top: 2em;
}
.dataInput::placeholder {
    text-align: center;
}
.lineChart {
    width: 80vw;
}
.displayChart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
